#studios {
  position: relative;

  &::after {
    content: "";

    position: absolute;
    z-index: -1;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    height: 575px;

    background-color: $palette-darkblue;
    background-image: url("../img/pattern/darkblue.svg");

    clip-path: url(#hero-wave);

    @include breakpoint($breakpoint-tablet--large) {
      clip-path: url(#hero-wave--mobile);
      height: 605px;
    }
  }
}

.studios {
  position: relative;

  padding-top: 125px;
  padding-bottom: 120px;

  color: $text-white;

  @include breakpoint($breakpoint-tablet) {
    padding-top: 48px;
    padding-bottom: 0;
  }

  &__title {
    margin-bottom: 20px;

    @include breakpoint($breakpoint-tablet) {
      font-size: 32px;
      text-align: center;
    }
  }

  &__action {
    @include breakpoint($breakpoint-tablet) {
      display: none;
    }
  }

  &__action .button-outline {
    color: $text-white;
  }

  &__picture {
    position: absolute;
    top: 0;
    right: 0;

    display: block;
    width: 650px;

    @include breakpoint($breakpoint-tablet) {
      position: relative;
      top: -60px;

      width: 100%;
      max-width: 360px;

      margin: 0 auto;
    }
  }

  &__image {
    width: 100%;
  }
}
