.page {
  &__title {
    font-size: 56px;
    font-family: Comfortaa, sans-serif;

    &--main {
      font-size: $font-size-0;

      @include breakpoint($breakpoint-laptop--medium) {
        font-size: 56px;
      }

      @include breakpoint($breakpoint-tablet) {
        font-size: $font-size-1 + 4;
      }
    }
  }

  &__subtitle {
    font-size: $font-size-1;
    font-weight: $weight-Light;

    @include breakpoint($breakpoint-laptop--medium) {
      font-size: $font-size-2;
    }
  }
}