.input {
  position: relative;

  &--error {
    .input__field {
      border-bottom-color: $input--error;
    }

    .input__warning {
      opacity: 1;
      visibility: visible;
    }
  }

  &__field {
    width: 100%;
    padding: 5px 0;

    border: none;
    border-bottom: 1px solid $input__border;
    outline: none;

    transition: 0.15s ease;

    @include breakpoint($breakpoint-tablet) {
      font-size: $font-size-6;
    }

    &::placeholder {
      color: $input__placeholder;
    }

    &--box {
      min-height: 100px;
      padding: 8px;

      border: 1px solid $input__border;
      border-radius: 4px;

      resize: none;
    }
  }

  &__label {
    display: block;
    margin-bottom: 8px;
  }

  &__warning {
    position: absolute;
    top: 50%;
    right: 8px;

    transform: translateY(-50%);

    cursor: help;

    visibility: hidden;
    opacity: 0;

    transition: 0.15s ease;
  }
}
