// -----------------------------------------------------------------------------
// В этом файле общие стили для компонента "Поле ввода"
// и подключение дополнительных вариаций
// -----------------------------------------------------------------------------

$input__border: #d9d9d9;
$input--error: #f26161;
$input__placeholder: #525252;

@import "input";
@import "checkbox";
