// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к шапке сайта
// -----------------------------------------------------------------------------

#header {
  position: sticky;
  z-index: $z-index-header;
  top: 0;
  left: 0;

  background-color: #fff;

  width: 100%;
  box-shadow: $shadow;
}

.header {
  display: flex;
  align-items: center;

  padding: 10px 0;

  &__logo {
    margin-right: 50px;

    @include breakpoint($breakpoint-laptop--medium) {
      margin-right: 25px;
    }
  }

  &__action {
    margin-left: auto;
    text-align: center;

    transition: 0.15s ease;
  }

  &__phone {
    display: block;

    margin-bottom: 5px;

    font-size: $font-size-2;
    font-weight: $weight-Bold;
    color: #808080;

    transition: 0.15s ease;

    @include breakpoint($breakpoint-laptop--medium) {
      margin-bottom: 5px;
      font-size: $font-size-5;
    }

    &:hover {
      @media (hover: hover) {
        color: $text-yellow;
      }
    }
  }

  &__nav {
    @include breakpoint($breakpoint-laptop--medium) {
      flex-grow: 1;
    }

    @include breakpoint($breakpoint-tablet--large) {
      display: none;
    }
  }

  &__excursion {
    font-size: $font-size-4;
    color: #40aad6;

    cursor: pointer;

    transition: 0.15s ease;

    br {
      display: none;
    }

    @include breakpoint($breakpoint-laptop--medium) {
      font-size: $font-size-5;

      br {
        display: block;
      }
    }

    @include breakpoint($breakpoint-tablet--large) {
      display: none;
    }

    &:hover {
      @media (hover: hover) {
        color: $text-yellow;
      }
    }
  }

  &__mobile {
    display: none;
    margin-left: auto;

    @include breakpoint($breakpoint-tablet--large) {
      display: block;
    }
  }
}
