.concept-information {
  .row {
    &:nth-child(3n + 1) {
      .concept-information__picture {
        background-color: $palette-darkblue;
      }
    }

    &:nth-child(3n + 2) {
      .concept-information__picture {
        background-color: $palette-purple;
      }
    }

    &:nth-child(3n + 3) {
      .concept-information__picture {
        background-color: $palette-yellow;
      }
    }

    @include even() {
      flex-direction: row-reverse;

      .concept-information__image {
        right: initial;
        left: 0;
      }
    }

    &:not(:last-child) {
      margin-bottom: 150px;
    }
  }
  &__content {
    padding: 48px;
    background-color: $palette-white;
    box-shadow: $shadow;
  }

  &__text {
    margin-bottom: 25px;
    font-size: $font-size-4;
  }

  &__action {
  }

  &__picture {
    position: relative;
    background-color: $palette-yellow;
    border-radius: 50%;

    width: 100%;
    max-width: 577px;
    height: 577px;
  }

  &__image {
    position: absolute;
    right: 0;
    bottom: 0;

    width: 525px;
    height: 525px;

    border-radius: 50%;
  }
}
