.concept-information {
  .row {
    margin-bottom: 150px;

    @include breakpoint($breakpoint-tablet--large) {
      margin-bottom: 60px;
    }

    &:nth-child(3n + 1) {
      .text-block__picture {
        background-color: $palette-darkblue;
      }
    }

    &:nth-child(3n + 2) {
      .text-block__picture {
        background-color: $palette-purple;
      }
    }

    &:nth-child(3n + 3) {
      .text-block__picture {
        background-color: $palette-yellow;
      }
    }

    @include even() {
      flex-direction: row-reverse;

      .text-block__image {
        right: initial;
        left: 0;
      }
    }
  }
}
