// Цветовая палитра блоков
$palette-white: #ffffff;
$palette-purple: #b48eba;
$palette-yellow: #efd886;
$palette-darkblue: #a0b0de;
$palette-blue: #5ec2eb;

// Цветовая палитра текста
$text-black: #525252;
$text-white: #ffffff;
$text-gray: #a9a9a9;
