// Толщина шрифта
$weight-Thin: 100;
$weight-ExtraLight: 200;
$weight-Light: 300;
$weight-Regular: 400;
$weight-Medium: 500;
$weight-SemiBold: 600;
$weight-Bold: 700;
$weight-ExtraBold: 800;
$weight-Black: 900;

// Размеры шрифта
$font-size-0: 76px;
$font-size-1: 32px;
$font-size-2: 24px;
$font-size-3: 20px;
$font-size-4: 18px;
$font-size-5: 16px;
$font-size-6: 14px;

// Межстрочные расстояния
$line-height-p: 150%;
