#about {
  padding-top: 110px;

  @include breakpoint($breakpoint-tablet--large) {
    padding-top: 15px;
  }
}

.about {
  &__content {
    border-radius: $border-radius;
    padding: 48px;

    background-color: $palette-white;
    box-shadow: $shadow;

    @include breakpoint($breakpoint-mobile--large) {
      padding: 32px 15px;
    }
  }

  &__title {
    margin-bottom: 25px;

    @include breakpoint($breakpoint-tablet--large) {
      margin-bottom: 20px;
    }
  }

  &__text {
    margin-bottom: 25px;
  }

  &__action {
  }

  &__picture {
    position: relative;
    background-color: $palette-yellow;
    border-radius: 50%;

    width: 100%;
    max-width: 577px;
    height: 577px;

    @include breakpoint($breakpoint-laptop--medium) {
      width: 380px;
      height: 380px;
    }

    @include breakpoint($breakpoint-tablet) {
      width: 295px;
      height: 295px;
    }
  }

  &__image {
    position: absolute;
    right: 0;
    bottom: 0;

    width: 525px;
    height: 525px;

    border-radius: 50%;

    @include breakpoint($breakpoint-laptop--medium) {
      width: 360px;
      height: 360px;
    }

    @include breakpoint($breakpoint-tablet) {
      width: 270px;
      height: 270px;
    }
  }

  &__button {
    @include breakpoint($breakpoint-mobile--large) {
      display: block;
      margin: 0 auto;
    }
  }
}
