#contact {
  position: relative;

  margin-top: 140px;
  padding: 230px 0;

  @include breakpoint($breakpoint-tablet) {
    padding: 110px 0;
  }

  &::after {
    content: "";

    position: absolute;
    z-index: -1;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: $palette-blue;
    background-image: url("../img/pattern/blue.svg");

    clip-path: url(#contact-wave);

    @include breakpoint($breakpoint-tablet) {
      clip-path: url(#contact-wave--mobile);
    }
  }

  .shape {
    position: absolute;
  }
}

.contact {
  &__title {
    @include breakpoint($breakpoint-tablet) {
      margin-bottom: 25px;
    }
  }

  &__info {
    height: 100%;
    border-radius: $border-radius;

    padding: 48px;

    background-color: $palette-white;
    box-shadow: $shadow;

    @include breakpoint($breakpoint-laptop--medium) {
      padding: 48px;
    }

    @include breakpoint($breakpoint-tablet) {
      padding: 35px 15px;
      text-align: center;
    }
  }

  &__wrapper {
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }

  &__subtitle {
    margin-bottom: 5px;

    font-size: $font-size-4;
    font-weight: $weight-Regular;

    color: $text-gray;

    @include breakpoint($breakpoint-tablet) {
      font-size: $font-size-5;
    }
  }

  &__link {
    font-size: $font-size-2;
    line-height: 36px;

    @include breakpoint($breakpoint-laptop--medium) {
      font-size: $font-size-4;
      line-height: 24px;
    }

    @include breakpoint($breakpoint-tablet) {
      font-size: $font-size-5;
    }
  }

  &__map {
    width: 100%;
    height: 100%;

    border-radius: $border-radius;
    overflow: hidden;

    @include breakpoint($breakpoint-tablet--large) {
      height: 350px;
    }
  }
}
