#program {
  .button {
    padding: 18px 50px;

    @include breakpoint($breakpoint-mobile--large) {
      width: 100%;
      padding: 18px 25px;
    }
  }
}

.program {
  &__item {
    height: 100%;
  }

  &__content {
    height: 100%;

    border-radius: $border-radius;
    padding: 48px;

    background-color: $palette-white;
    box-shadow: $shadow;

    @include breakpoint($breakpoint-mobile--large) {
      padding: 35px;
    }

    .list__item {
      @include breakpoint($breakpoint-mobile--large) {
        text-align: center;
        justify-content: center;
      }
    }
  }

  &__title {
    margin-bottom: 25px;
  }

  &__text {
    margin-bottom: 25px;

    li {
      @include breakpoint($breakpoint-mobile--large) {
        align-items: center;
      }
    }
  }

  &__action {
  }

  &__picture {
    position: relative;
    background-color: $palette-blue;
    border-radius: 50%;

    width: 100%;
    max-width: 577px;
    height: 577px;

    @include breakpoint($breakpoint-laptop--medium) {
      width: 380px;
      height: 380px;
    }

    @include breakpoint($breakpoint-tablet--large) {
      display: none;
    }
  }

  &__image {
    position: absolute;
    right: 0;
    bottom: 0;

    width: 525px;
    height: 525px;

    border-radius: 50%;

    @include breakpoint($breakpoint-laptop--medium) {
      width: 360px;
      height: 360px;
    }
  }
}
