#what-get {
  position: relative;
  padding-top: 235px;
  padding-bottom: 225px;

  color: $text-white;

  &::after {
    content: "";

    position: absolute;
    z-index: -1;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: $palette-darkblue;
    background-image: url("../img/pattern/darkblue.svg");

    clip-path: url(#what-get-wave);

    @include breakpoint($breakpoint-tablet) {
      clip-path: url(#what-get-wave--mobile);
    }
  }

  .row > div {
    @include breakpoint($breakpoint-tablet) {
      margin-bottom: 0 !important;
    }

    @include first(6) {
      @include breakpoint($breakpoint-tablet--large) {
        margin-bottom: 30px;
      }
    }
    &:nth-child(3n + 2) {
      .what-get__item {
        margin-top: 40px;

        @include breakpoint($breakpoint-tablet--large) {
          margin-top: 0;
        }
      }
    }

    &:nth-child(3n + 3) {
      .what-get__item {
        margin-top: 80px;

        @include breakpoint($breakpoint-tablet--large) {
          margin-top: 0;
        }
      }
    }
  }
}

.what-get {
  &__item {
    display: flex;
    align-items: center;
  }

  &__ballon {
    position: relative;
    margin-right: 15px;
  }

  &__icon {
    @include breakpoint($breakpoint-laptop--medium) {
      width: 55px;
    }
  }

  &__number {
    position: absolute;
    top: 18px;
    left: 18px;

    font-size: 48px;
    font-family: Comfortaa, sans-serif;

    width: 26px;
    text-align: center;

    @include breakpoint($breakpoint-laptop--medium) {
      left: 15px;
      font-size: 32px;
    }
  }

  &__title {
    position: relative;
    bottom: 20px;
    margin-top: 5px;

    font-weight: $weight-Regular;
    font-size: $font-size-3;

    @include breakpoint($breakpoint-laptop--medium) {
      font-size: $font-size-5;

      br {
        display: none;
      }
    }

    @include breakpoint($breakpoint-tablet) {
      width: 60%;
    }
  }
}
