.program-slider {
  .swiper-pagination {
    position: initial;
    display: flex;
    justify-content: center;

    margin-bottom: 60px;

    &-bullet {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 176px;
      height: 50px;

      margin: 0 15px !important;

      border-radius: $border-radius;
      border: 2px solid #5ec2eb;
      outline: none;

      color: $text-black;
      background-color: transparent;

      font-weight: $weight-Bold;
      font-size: $font-size-4;

      opacity: 1;
      transition: 0.15s ease;

      &:hover {
        @media (hover: hover) {
          color: $text-white;
          background-color: #5ec2eb;
        }
      }

      &-active {
        color: $text-white;
        background-color: #5ec2eb;
      }
    }
  }
}
