.swiper {
  &-controls {
    @include breakpoint(max-width 1080px) {
      position: relative;

      margin-top: 45px;
    }

    div {
      @include breakpoint(max-width 1080px) {
        // position: static;
        width: initial;
        height: initial;
        margin-top: 0;
      }
    }
  }
  &-button {
    &-prev,
    &-next {
      outline: none;
      transition: all 0.15s ease;

      &:hover {
        opacity: 0.6;
      }
    }

    &-prev {
      left: -60px;

      @include breakpoint(max-width 1080px) {
        left: calc(50% - 75px);
      }

      &::after {
        content: url("../img/icons/control/arrow__left.svg");

        @include breakpoint(max-width 1080px) {
          content: url("../img/icons/control/arrow__left--mobile.svg");
        }
      }
    }

    &-next {
      right: -60px;

      @include breakpoint(max-width 1080px) {
        right: calc(50% - 75px);
      }

      &::after {
        content: url("../img/icons/control/arrow__right.svg");

        @include breakpoint(max-width 1080px) {
          content: url("../img/icons/control/arrow__right--mobile.svg");
        }
      }
    }
  }
}
