.swiper {
  &-button {
    &-prev,
    &-next {
      outline: none;
      transition: all 0.15s ease;

      &:hover {
        opacity: 0.6;
      }
    }

    &-prev {
      left: -60px;

      &::after {
        content: url("../img/icons/control/arrow__left.svg");
      }
    }

    &-next {
      right: -60px;

      &::after {
        content: url("../img/icons/control/arrow__right.svg");
      }
    }
  }
}
