#callback {
}

.callback {
  &__wrapper {
    overflow: hidden;

    border-radius: $border-radius;
    padding: 48px;

    background-color: $palette-white;
    box-shadow: $shadow;

    @include breakpoint($breakpoint-mobile--large) {
      padding: 32px 15px;
    }
  }

  &__title {
  }

  &__text {
    font-size: $font-size-4;

    @include breakpoint($breakpoint-mobile--large) {
      margin-bottom: 30px;
      font-size: $font-size-6;
      text-align: center;

      br {
        display: none;
      }
    }
  }

  &__picture {
    position: relative;
    background-color: $palette-purple;
    border-radius: 50%;

    width: 100%;
    max-width: 577px;
    height: 577px;

    @include breakpoint($breakpoint-laptop--medium) {
      width: 380px;
      height: 380px;
    }

    @include breakpoint($breakpoint-tablet--large) {
      display: none;
    }
  }

  &__image {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 525px;
    height: 525px;

    border-radius: 50%;

    @include breakpoint($breakpoint-laptop--medium) {
      width: 360px;
      height: 360px;
    }
  }
}
