.text-block {
  &__item {
  }

  &__content {
    border-radius: $border-radius;
    padding: 48px;

    background-color: $palette-white;
    box-shadow: $shadow;

    @include breakpoint($breakpoint-mobile--large) {
      padding: 32px 15px;
    }
  }

  &__title {
    margin-bottom: 22px;

    font-size: 32px;
    font-weight: $weight-Regular;
    font-family: Comfortaa, sans-serif;

    line-height: 40px;

    @include breakpoint($breakpoint-tablet--large) {
      font-size: 24px;
      line-height: 32px;

      br {
        display: none;
      }
    }
  }

  &__text {
    margin-bottom: 25px;
    font-size: $font-size-4;

    @include breakpoint($breakpoint-tablet) {
      font-size: $font-size-6;
    }

    &--small {
      font-size: $font-size-5;
    }
  }

  &__picture {
    position: relative;
    display: block;
    background-color: $palette-yellow;
    border-radius: 50%;

    width: 100%;
    max-width: 577px;
    height: 577px;

    @include breakpoint($breakpoint-laptop--medium) {
      width: 380px;
      height: 380px;
    }

    @include breakpoint($breakpoint-tablet) {
      width: 295px;
      height: 295px;
    }

    &--blue {
      background-color: $palette-blue;
    }
  }

  &__image {
    position: absolute;
    right: 0;
    bottom: 0;

    width: 525px;
    height: 525px;

    border-radius: 50%;

    @include breakpoint($breakpoint-laptop--medium) {
      width: 360px;
      height: 360px;
    }

    @include breakpoint($breakpoint-tablet) {
      width: 270px;
      height: 270px;
    }
  }

  &__action {
    @include breakpoint($breakpoint-mobile--large) {
      display: flex;
      flex-direction: column;
      align-items: center;

      margin-top: 35px;
    }
  }

  &__button {
    margin-top: 10px;

    @include breakpoint($breakpoint-mobile--large) {
      display: block;
      width: 100%;
      max-width: 320px;

      margin: 0 auto;
    }
  }
}
