#team {
  position: relative;

  &::after {
    content: "";

    position: absolute;
    z-index: -1;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    height: 450px;

    background-color: $palette-yellow;
    background-image: url("../img/pattern/yellow.svg");

    clip-path: url(#hero-wave);

    @include breakpoint($breakpoint-tablet--large) {
      height: 305px;
    }
  }
}

.team {
  position: relative;

  &__hero {
    padding-bottom: 350px;

    @include breakpoint($breakpoint-laptop--medium) {
      padding-bottom: 350px;
    }

    @include breakpoint($breakpoint-tablet--large) {
      padding-bottom: 200px;
    }
  }

  &__title {
    padding-top: 150px;
    color: $text-white;

    @include breakpoint($breakpoint-tablet--large) {
      padding-top: 100px;
      text-align: center;
    }
  }

  .text-block__item {
    &:not(:last-child) {
      margin-bottom: 150px;

      @include breakpoint($breakpoint-tablet) {
        margin-bottom: 100px;
      }
    }

    @include even() {
      .row {
        flex-direction: row-reverse;
      }

      .text-block__image {
        right: initial;
        left: 0;
      }
    }
  }

  &__picture {
    position: absolute;
    top: 50px;
    right: 0;

    display: block;
    width: 500px;

    @include breakpoint($breakpoint-laptop--large) {
      width: 420px;
    }

    @include breakpoint($breakpoint-laptop--medium) {
      width: 380px;
    }

    @include breakpoint($breakpoint-tablet--large) {
      display: none;
    }
  }

  &__image {
    width: 100%;
  }
}
