.condition-card {
  overflow: hidden;
  border-radius: $border-radius;
  box-shadow: $shadow;

  strong {
    white-space: nowrap;
  }

  .list__item {
    display: list-item;
  }

  &__header {
    padding: 30px 0;

    color: $text-white;
    text-align: center;

    &--blue {
      background-color: $palette-blue;
    }

    &--yellow {
      background-color: $palette-yellow;
    }

    &--darkblue {
      background-color: $palette-darkblue;
    }

    &--purple {
      background-color: $palette-purple;
    }
  }

  &__title {
    @include breakpoint($breakpoint-tablet) {
      font-size: $font-size-2;
    }

    font-weight: $weight-Medium;
    font-size: 28px;
  }

  &__info {
    padding-left: 4px;

    font-weight: $weight-Light;
    font-size: 12px;
  }

  &__subtitle {
    @include breakpoint($breakpoint-tablet) {
      margin-bottom: 12px;
      font-size: $font-size-5;
    }

    margin-bottom: 5px;

    font-weight: $weight-Medium;
    font-size: $font-size-2;
  }

  &__description {
    @include breakpoint($breakpoint-tablet) {
      font-size: $font-size-6;

      strong {
        font-size: $font-size-6;
      }
    }
  }

  &__content {
    @include breakpoint($breakpoint-tablet) {
      padding: 35px 15px;
    }

    height: 100%;
    padding: 48px;
    background-color: $palette-white;
  }

  &__wrapper {
    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }

  &__button {
    display: block;
    margin: 40px auto 0;
    padding: 18px 80px;
  }
}
