.section {
  padding-top: 150px;

  &__title {
    margin-bottom: 48px;

    font-family: Comfortaa, sans-serif;
    font-weight: $weight-Regular;
    font-size: $font-size-1;
    line-height: 41px;
  }

  &__subtitle {
    font-family: Comfortaa, sans-serif;
    font-size: $font-size-2;
  }

  &__text {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}
