.button {
  outline: none;
  border: none;
  border-radius: 28px;

  padding: 18px 30px;

  color: $button__text;
  font-weight: $weight-Bold;

  cursor: pointer;
  transition: 0.15s ease;

  @include breakpoint($breakpoint-laptop--medium) {
    font-size: $font-size-6;
  }

  &:hover:enabled {
    @media (hover: hover) {
      color: $button__text;
      border-color: $button__border--hover;
      background-color: $button__bg--hover;
    }
  }
  
  &:disabled {
	opacity: 0.7;
  }
}
