.button-primary {
  background-color: $button__bg;

  &--white {
    background-color: #ffffff;
    color: #5ec2eb;
  }

  &--inverted {
    @media (hover: hover) {
      &:hover {
        background-color: #ffffff;
        color: #5ec2eb;
      }
    }
  }
}
