.button {
  @include breakpoint($breakpoint-laptop--medium) {
    font-size: $font-size-6;
  }

  display: inline-block;
  padding: 18px 30px;

  border: none;
  border-radius: 28px;
  outline: none;

  color: $button__text;
  font-weight: $weight-Bold;

  cursor: pointer;
  transition: 0.15s ease;

  &:hover:enabled {
    @media (hover: hover) {
      border-color: $button__border--hover;
      background-color: $button__bg--hover;
      color: $button__text;
    }
  }

  &:disabled {
    opacity: 0.7;
  }
}
