// -----------------------------------------------------------------------------
// В этом файле общие стили для компонента "Кнопка"
// и подключение дополнительных вариаций
// -----------------------------------------------------------------------------

$button__bg: #5ec2eb;
$button__bg--hover: #f2d97e;

$button__border: #5ec2eb;
$button__border--hover: #f2d97e;

$button__text: #ffffff;
$button__text--hover: #7d7d7d;

$button-outline__color: #5ec2eb;

@import "button";
@import "button-primary";
@import "button-outline";
